
#header{
	background-image:url(../img/backgrounds/landing.jpg);
	image-resolution: from-image;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 50px;
	font-family: 'Rokkitt', serif;
	color: white;
}
#logoBig{
	margin-top: 7%;
}

#breakfast {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 80px;
  color: white;
  background-image: url(../img/foodtop/breakfast.jpg);
	font-size: 40px;
}
#lunch {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 80px;
  color: white;
  background-image: url(../img/foodtop/lunch.jpg);
	font-size: 40px;
}
#dinner {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
	padding: 80px;
  color: white;
  background-image: url(../img/foodtop/dinner.jpg);
  font-size: 40px;
}
.happyhour{
	text-align: center;
  height: 110px;
  background-color: #d4d6d8;
  padding: 20px;
	font-size:40px;
}
.partyhour{
text-align: center;
height:110px;
padding: 20px;
color: white;
background-color: #F15A29;
font-size: 40px;
}

.container2 {
	margin-top: 3%;
	margin-left: 1.5%;
}

#foodtab{
	background-image: url(../img/foodsBg.jpg);
	image-resolution: from-image;
	background-repeat: no-repeat;
}
#text1{
padding: 5%;
text-align: left;
}
#text2{
padding: 5%;
text-align: right;
}
.fastdrinks{
margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.drink1{
padding: 0;
}
.drinksimg{
padding: 0;
}
