
#header{
	background-image:url(../img/backgrounds/landing.jpg);
	image-resolution: from-image;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 50px;
	font-family: 'Rokkitt', serif;
	color: white;
}
#logoBig{
	margin-top: 7%;
}

#breakfast {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 80px;
  color: white;
  background-image: url(../img/foodtop/breakfast.jpg);
	font-size: 40px;
}
#lunch {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 80px;
  color: white;
  background-image: url(../img/foodtop/lunch.jpg);
	font-size: 40px;
}
#dinner {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
	padding: 80px;
  color: white;
  background-image: url(../img/foodtop/dinner.jpg);
  font-size: 40px;
}
.happyhour{
	text-align: center;
  height: 110px;
  background-color: #d4d6d8;
  padding: 20px;
	font-size:40px;
}
.partyhour{
text-align: center;
height:110px;
padding: 20px;
color: white;
background-color: #F15A29;
font-size: 40px;
}
.container {
  padding: 0px;
  margin: 0%;
	width:99.9%;
}
.container2 {
	margin-top: 3%;
	margin-left: 1.5%;
}
.fastfoods{
	box-shadow: 5px 10px;
}
