
#header{
	background-image:url(../img/backgrounds/landing.jpg);
	image-resolution: from-image;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 50px;
	font-family: 'Rokkitt', serif;
	color: white;
}
#logoBig{
	margin-top: 7%;
}

#breakfast {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 80px;
  color: white;
  background-image: url(../img/foodtop/breakfast.jpg);
	font-size: 40px;
}
#lunch {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 80px;
  color: white;
  background-image: url(../img/foodtop/lunch.jpg);
	font-size: 40px;
}
#dinner {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
	padding: 80px;
  color: white;
  background-image: url(../img/foodtop/dinner.jpg);
  font-size: 40px;
}
.happyhour{
	text-align: center;
  height: 110px;
  background-color: #d4d6d8;
  padding: 20px;
	font-size:40px;
}
.partyhour{
text-align: center;
height:110px;
padding: 20px;
color: white;
background-color: #F15A29;
font-size: 40px;
}

.container2 {
	margin-top: 3%;
	margin-left: 1.5%;
}

#foodtab{
	background-image: url(../img/foodsBg.jpg);
	image-resolution: from-image;
	background-repeat: no-repeat;
}
#text1{
padding: 5%;
text-align: left;
}
#text2{
padding: 5%;
text-align: right;
}
.fastdrinks{
margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.vertical{
	padding: 0;
}
.fastdrinks{
	margin-bottom: 10%;
	margin-left: 10%;
	margin-right: 30%;
	margin-top: 10%;
	padding:0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.drink1{
padding: 0;
}
.drinksimg{
padding: 0;
margin: 2%;
}
#background3{
	background-image: url(../img/backgrounds/foodsBg.jpg);
	image-resolution: from-image;
	background-repeat: no-repeat;
	margin-top: 2%;
}
.tabs {
width:100%;
}

.tab-links:after {
display:block;
clear:both;
content:'';
}
.tab-links li {
margin:0px 5px;
float:left;
list-style:none;
}
.tab-links a {
padding:9px 15px;
display:inline-block;
border-radius:3px 3px 0px 0px;
background:#7FB5DA;
font-size:16px;
font-weight:600;
color:#4c4c4c;
transition:all linear 0.15s;
}
.tab-links a:hover {
background:#a7cce5;
text-decoration:none;
}
li.active a, li.active a:hover {
background:#fff;
color:#4c4c4c;
}
/*----- Content of Tabs -----*/
.tab-content {
padding:15px;
border-radius:3px;
box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
background:#fff;
}
.tab {
display:none;
}
.tab.active {
display:block;
}
div.Foodpic {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
		color: orange;
}
.tablinks{
	color:orange;
}

div.Foodpic:hover {
    border: 1px solid #777;
}

div.Foodpic img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.vertical:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.vertical:hover .text {
color: #000000;
}

.customers {
	margin: 100px;
	box-shadow: 0px 2px 9px 1px;
	padding:12px;
	column-count: 2;
	text-align: center;
	column-rule:  1px outset #ccc;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: orange;
}

.previous {
    color: orange;
}

.next {
    color: orange;
}

.round {
    border-radius: 50%;
}
.subscription{
padding: 0;
height: 300px;
width:100%;
background-image: url(../img/backgrounds/subscribe.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.textit {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
.mailing{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;
}
.formStyle {
margin: 20px;
background:rgba(250,250,250,0.5);
padding: 6px;
width: 40%;
margin-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #ecf0f1;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
}
.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;
text-decoration:none;
border-radius: 5px;
}
.socialink{
text-align: center;
margin-top: 3%;
color: #ffffff;
}
.footer{
padding: 0;
height: 300px;
width:100%;
background-color:#F15A29;
}
